body{
    background-color: var(--black-color);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--yellow-color);
    color: var(--black-color);
}

.responsive {
    width: 100%;
    height: auto;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--black-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-color);
}

.allHr{
    width: 75%;
    align: center;
    background-color: red;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container-video{
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hrSeparation{
    width: 75%;
    align: center;
    background-color: red;
    height: 10px
}

hr{
    width: 75%;
    align: center;
    background-color: red;
}