body{
    background-color: var(--black-color);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--yellow-color);
    color: var(--black-color);
}

.responsive {
    width: 100%;
    height: auto;
}

.responsiveAcceuil{
    width: auto;
    height: 100%;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--black-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-color);
}

blockquote
{
    font-style: normal;
    font-size: 16px;
    margin-left: 32px;
    font-family: Consolas, "Times New Roman", Verdana;
    border-left: 4px solid red;
    padding-left: 8px;
}

@font-face {
    font-family:"Mandoa";
    src: url("../font/mandalor.ttf") format("truetype");
}

.intro{
    font-family: Mandoa, "Times New Roman", Verdana;
    font-style: normal;
    font-size: 24px;
}

hr{
    width: 75%;
    align: center;
    background-color: red;
}